:root {
   --font-family1: "Mulish", sans-serif;
   --font-family2: "Open Sans", sans-serif;
}

body {
   font-family: var(--font-family2);
   color: #1F1534;
   margin: 0;
   background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
   min-height: 100vh;
}

.page {
   width: 1000px;
   margin: 0 auto;
   padding-top: 65px;

   #balls {
      position: fixed;
      bottom: 0;
      right: 0;
   }
}

a {
   text-decoration: none;
   color: inherit;
}