header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 55px;

   ul {
      display: flex;
      list-style: none;
      gap: 48px;
      font-family: var(--font-family1);
   }

   ul li a:hover {
      font-weight: bold;
   }
}