main {
   display: flex;
   align-items: center;
   justify-content: space-between;

   h1 {
      font-family: var(--font-family1);
      font-size: 49px;
      line-height: 56px;
      font-weight: normal;
      color: #1F1534;
      width: 490px;
   
      span {
         color: #89C5CC;
         font-weight: bold;
      }
   }

   p {
      font-size: 14px;
      line-height: 28px;
      color: #7D7987;
      margin-block: 40px;
   }

   button {
      text-transform: uppercase;
      font-family: var(--font-family2);
   }
}